body {
    
background: rgba(56,47,56,1);
background: -moz-linear-gradient(left, rgba(56,47,56,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 59%, rgba(51,43,51,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56,47,56,1)), color-stop(40%, rgba(219,219,219,1)), color-stop(59%, rgba(209,209,209,1)), color-stop(100%, rgba(51,43,51,1)));
background: -webkit-linear-gradient(left, rgba(56,47,56,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 59%, rgba(51,43,51,1) 100%);
background: -o-linear-gradient(left, rgba(56,47,56,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 59%, rgba(51,43,51,1) 100%);
background: -ms-linear-gradient(left, rgba(56,47,56,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 59%, rgba(51,43,51,1) 100%);
background: linear-gradient(to right, rgba(56,47,56,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 59%, rgba(51,43,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382f38', endColorstr='#332b33', GradientType=1 );

}
.contenido{
    margin: 0 auto;
    margin-top: 0%;
    -moz-box-align: center;
    -webkit-box-align: center;
    display: block;
    animation: animacion 1s;
    border-radius: 10px 10px 10px 10px;
    }
    @-webkit-keyframes animacion{
        0%{
            margin-top: 150%;
            }
        60%{
            margin-top:-5%;
            }
        100%{
            margin-top:0%;
        }
    }
@media (min-width:900px){
    .contenido{        
        width:1200px;
        display: block;
        height: 100%;
        background: linear-gradient(to bottom,  rgb(91, 147, 211) 0%, rgb(176, 171, 207) 100%);
        box-shadow: 5px 5px 30px rgb(0, 0, 0);
    }
    header{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 8%;
        background: #327b69;/* linear-gradient(to left,  rgb(91, 147, 211) 0%, rgb(176, 171, 207) 100%);  */
        box-shadow: 5px 5px 30px rgb(0, 0, 0) !;
        display:flex;
        flex-flow:row;
        }
        .name{
            width: 45%;
            text-align: center;
            display: block;
                                        
        }
        .logo{
            width: 55%;
            text-align: center;
            background-image: url(../logo/logoalexisdef.svg); 
            
    
        }
        nav {
            background: hsl(0,0%,21%);
            font-size: 1.143em;
            height: 40px;
            line-height: 30px;
            margin: 0 auto ;
            margin-top: 31%;
            padding: 0;
            text-align: center;
            width: 100%;
            border-radius: 10px;
            }
    
        nav ul {list-style: none; margin: 0 auto; width: 100%;border-radius: 10px;}
        nav li {float: left; display: inline; margin: 0;border-radius: 10px;}
    
        nav a:link, nav a:visited {
                display: inline-block;
                height: 30px;
                padding: 5px 1.5em;
                text-decoration: none;
                color:#fff;
                }
        nav a:hover, nav a:active{
                background: hsla(200,60%,50%,0.65);
                text-shadow: none !important;
                border-radius: 10px;
            }
        nav .active a:link, nav .active a:visited {
                text-shadow: none !important;
                background: #3399CC;
                color: #FFF;
                border-radius: 10px;
    
            }
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 300%;
        color: whitesmoke;
        text-shadow: 1px 4px 2px  rgb(100, 96, 96);
    }
    .myname{
        border-bottom: 5px  solid black ;    
    }
    .central{
        display:flex;
        flex-flow:row;
        text-align: center;
        width: 100%;
        
    }
    aside{
        width: 40%;
        height: 32%;        
        background: rgba(228,232,235,1);
        background: -moz-linear-gradient(top, rgba(228,232,235,1) 0%, rgba(143,143,143,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,232,235,1)), color-stop(100%, rgba(143,143,143,1)));
        background: -webkit-linear-gradient(top, rgba(228,232,235,1) 0%, rgba(143,143,143,1) 100%);
        background: -o-linear-gradient(top, rgba(228,232,235,1) 0%, rgba(143,143,143,1) 100%);
        background: -ms-linear-gradient(top, rgba(228,232,235,1) 0%, rgba(143,143,143,1) 100%);
        background: linear-gradient(to bottom, rgba(228,232,235,1) 0%, rgba(143,143,143,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e8eb', endColorstr='#8f8f8f', GradientType=0 );
        display: block;
    
    }
    section{
        width: 60%;
        
        background:#35d4ac;/* linear-gradient(to top,  rgb(35, 48, 63) 0%, rgb(17, 3, 82) 100%);  */
        padding: 1%;
        text-align: right;
        
    }
    .perfil{
        margin-top: 3%;
        width: 70%;
        height: 10%;
        border-radius: 50%;
        border: 8px rgb(27, 25, 25) ;
        border-style: double;
    }
       

    h2{
    
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        font-size: 300%;
        text-shadow: 1px 4px 2px  rgb(59, 55, 55);
    }
    hr{
        height: 5px;
        width: 50%;
        background-color: rgb(26, 21, 21);
        margin-top: -10%;
    }
    p{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 1.5em;
    }
    .pprofesional{
        margin-top: 15%;
        color: #FFF; 
        text-align: right;   
    }
    footer{
        background: linear-gradient(to top, rgb(34, 34, 34),rgb(122, 119, 121));        
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;    
        -webkit-box-shadow: 0px -10px 18px -1px rgba(0,0,0,0.42);
        -moz-box-shadow: 0px -10px 18px -1px rgba(0,0,0,0.42);
        box-shadow: 0px -10px 18px -1px rgba(0,0,0,0.42);
        display: inline-flex;
        text-align: left;
        color: white;
        

    }
    #perpro{
        color: white;
    }
    footer a{
        color: white;
        font-size: 20px;
    }
    img[src$='.svg']{
        margin-top: 0%;
        border-radius: 50%;
        width: 12%;
    }
    div[class^="fo-"]{
        display: block;
        width: 25%;
        text-align: center;
        margin: 0% 1% 3% 1%;
    }   
    .etapas{
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .formacion{
        width: 50%;
        background: linear-gradient(to right, rgba(40,89,173,1) 0%, rgba(82,70,252,1) 100%);    
    } 
    ul{
        text-align: left;
        font-size: 1.0em;
    }
    .etapas p{
        text-align: left;
    }
    
    .referencias{
        width: 50%;
        background: linear-gradient(to right, rgba(82,70,252,1) 0%, rgba(40,89,173,1) 100%);
        border-left:2px  black solid;
        
    
    }
}